@font-face {
    font-family: 'Proxima Nova';
    src: url('../css/fonts/proximanova-bold-webfont.eot');
    src: url('../css/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../css/fonts/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../css/fonts/proximanova-reg-webfont.eot');
    src: url('../css/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/proximanova-reg-webfont.woff') format('woff'),
         url('../css/fonts/proximanova-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../css/fonts/proximanova-regit-webfont.eot');
    src: url('../css/fonts/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/proximanova-regit-webfont.woff') format('woff'),
         url('../css/fonts/proximanova-regit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}