.i18n-list {
  float:right;
  z-index:99;
  position:relative;

  li {
    display: inline-block;
    margin-right: 10px;
    .opacity(0.5);

    a { color:white; font-family: "Proxima Nova"; font-size:0.9em;  cursor: pointer; }
    &.i18n-active { .opacity(1); a { cursor: default; }}
    &.i18n-locale-def a:before {content: "RU"; }
    &.i18n-locale-en a:before {content: "EN"; }
  }
}