/*
Proxima Nova Regular
Proxima Nova Bold
Proxima Nova Italic
*/

body {
  font-family: 'Proxima Nova';
  line-height: 1;
  button, input {line-height: 1;}
}

input[type="text"] {
  border: 2px solid #fff;
  border-width: 2px 0 2px 2px;
  display: block;
  background: #fff;
  font-size: 18px;
  line-height: 18px;
  height: 46px;
  .box-sizing();
  padding: 12px 17px;
  .border-radius(5px 0 0 5px);
  &:focus {
    .box-shadow(0 0 7px rgba(17, 223, 143, 0.15));
  }
  &.error {
    border-color: #ffa0a0;
  }
}

button {
  background: #03af6c;
  border: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 19.5px 27px;
  .border-radius(5px);
  &:hover {
    background: #05bc75;
  }
  &.share {
    background: #4d5daf;
    font-size: 18px;
    padding: 11px 20px 11px 11px;
    line-height: 24px;
    img {
      float: left;
      margin: 0 17px 0 0;
    }
    &:hover {background: #4f6ec4;}
  }
  &.send {
    font-size: 18px;
    padding: 14px 21px;
    .border-radius(0 5px 5px 0);
  }
}

ul.benefits {
  li {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    img {
      display: block;
      margin: 0 auto 15px;
    }
    span {
      display: block;
    }
    &:nth-child(1) {}
    &:nth-child(2) {}
    &:nth-child(3) {}
  }
  a.cashback {
    border-bottom: 1px dashed #7f7f7f;
    position: relative;
    i {
      display: none;
      position: absolute;
      top: 30px;
      font-style: normal;
      left: -19px;
      background: #8d8d8d;
      .border-radius(3px);
      color: #fff;
      text-align: left;
      font-size: 15px;
      line-height: 18px;
      width: 220px;
      padding: 7px 14px;
    }
  }
}

ul.social {
  font-size: 0;
  li {
    display: inline-block;
    a {
      &.facebook {
        
      }
      &.twitter {
        
      }
      &.email {
        
      }
      img {opacity: 0.75;}
      &:hover img {opacity: 1;}
    }
    img {
      display: block;
    }
  }
}

header {
  position: relative;
  height: 613px;
  color: #fff;

  .paralax {
    position: absolute;
    overflow:hidden;
    left:0px;
    width:100%; height:613px;

    .table{
      width:102%;
      height:102%;
      position:absolute;
      background: url(../img/bg.jpg) no-repeat center center;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  .container_12 {
    padding: 35px 0 0 0;
  }
  a.logo {
    display: block;
    margin-bottom: 117px;
    img {
      display: block;
    }
  }
  ul.social {
    text-align: right;
    float: right;
    li {margin: 0 0 0 15px;}
  }
  h1 {
    font-size: 52px;
    line-height: 49px;
    font-weight: bold;
    margin: 0 0 11px;
  }
  h2 {
    font-size: 23px;
    line-height: 29px;
    margin: 0 0 48px;
  }
  button {
    
  }
  img.phone {
    position: absolute;
    bottom: 0px;
    left:50%;
    margin: 0 0 0 185px;
    width: 373px;
  }
}

article.benefits {
  padding: 75px 0 79px;
}

.at() {
  height: 274px;
  padding: 70px 0 0;
  text-align: center;
  h2 {
    font-size: 23px;
    line-height: 30px;
    margin: 0 0 28px;
  }
}

article.subscribe {
  .at();
  color: #646464;
  h2 {
    &.error {
      display: none;
    }
  }
  form {
    font-size: 0;
    input {
      display: inline-block;
      width: 440px;
    }
    button {
      display: inline-block;
    }
  }
}

article.success {
  display: none;
  .at();
  h2 {
    span {opacity: 0.75;}
    strong {
      font-weight: bold;
    }
  }
  button {
    margin: 0 0 15px;
    img {
      
    }
  }
  p {
    opacity: 0.75;
    font-size: 16px;
  }
}

.background {
  background: #f3f3f3;
  &.success {
    background: #03af6c;
    article {
      color: #fff;
    }
    footer .copyright {
      color: #037448;
    }
  }
}

footer {
  height: 150px;
  text-align: center;
  li {
    margin: 0 7.5px;
  }
  .copyright {
    font-size: 15px;
    padding: 30px 0 0;
    color: #646464;
  }
  &.success {
    
  }
}